html, body {
  margin: 0px;
  padding: 0px;
}

body, html, input {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}

body {

  font-size: 14px;
  text-align: center;
  color: #fff;
  font-weight: 300;
  position: relative;
  background-image: -o-linear-gradient(134deg, #49A5BF 0%, #93CEDE 100%);
  background-image: -moz-linear-gradient(134deg, #49A5BF 0%, #93CEDE 100%);
  background-image: -ms-linear-gradient(134deg, #49A5BF 0%, #93CEDE 100%);
  background-image: linear-gradient(44deg, #49A5BF 0%, #93CEDE 100%);
}

a {
  text-decoration: none;
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

#header .container {
  width: 70%;
  margin: 0 auto;
}

#header{
  padding-top: 50px;
}

#header p {
  margin-top: 80px;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 29px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.20);
}

#header form{
  margin: 0px;
  padding: 0px;
  margin-bottom: 4px;
}
#header input {
  font-size: 15px;
  line-height: 20px;
  border:none;
  background-color: #F2F2F2;
  max-width: 390px;
  text-align: center;
}

#header h3 {
  margin: 80px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #FFFFFF;
  line-height: 35px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.20);
}

#header h1 {
  margin-top: 8%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 48px;
  color: #FFFFFF;
  line-height: 56px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.20);
}

.generate {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  background: #4A90E2;
  -moz-box-shadow:    2px 2px 8px rgba(0,0,0,0.30);
  box-shadow:         0px 1px 2px 0px rgba(0,0,0,0.30);
  padding: 16px 60px;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 24px;
  letter-spacing: 1px;
}

.generate:hover {
  background: #3B73B3;
}

.fb, .tw {
  border: none;
  border-radius: 4px;
  -moz-box-shadow:    0px 1px 4px 0px rgba(0,0,0,0.40);
  box-shadow:         0px 1px 4px 0px rgba(0,0,0,0.40);
  background: rgba(0,0,0,0.40);
  padding: 18px;
}

#footer {
  display: block;
  height: 120px;
}

#footer p {
  margin-bottom: 10px;
  margin: 0;
}

#footer a{
  color: #2a5280;
}

#footer a:focus {
  outline: none;
}

#footer a:hover {
  color: #fff;
  text-decoration: underline;
}

@media only screen and (max-width: 500px) {
  #header {
    padding: 5px;
  }

  #header .container{
    width: 100%;
    padding: 5px;
  }

  #header h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 0px;
  }

  #header h3{
    font-size: 20px;
    margin: 0px;
    margin-bottom: 35px;
  }

  #footer {
    width: 80%;
    margin: 0px auto;
  }

  #header p{
    margin-top: 40px;
  }

  body {
    background-color: green;
  }


}
